<div class="container mt-4">
  <h2>Customer Orders</h2>
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Customer Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Ordered Items</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.name }}</td>
        <td>{{ order.phone }}</td>
        <td>{{ order.email }}</td>
        <td>{{ order.address }}</td>
        <td>
          <ul>
            <li *ngFor="let item of order.items">
              <strong>{{ item.name }}</strong>
              <span *ngIf="item.company">({{ item.company }})</span> - ₹{{
                item.price | number
              }}

              <img
                [src]="
                  item.image
                    ? item.image
                    : item.imageUrl
                    ? item.imageUrl
                    : 'assets/no-image.png'
                "
                alt="{{ item.name }}"
                style="width: 100px; height: auto; margin-left: 10px"
              />
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
